@model Aditya_Tie.Models.Tie

@{
    ViewData["Title"] = "Details";
}
<style>
    /* Define custom styles for the page */
    body {
        font-family: 'Roboto Mono', monospace; /* Use Roboto Mono font */
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 0;
    }

    h1 {
        color: #0066cc;
        font-size: 28px;
    }

    h2 {
        color: #009933;
        font-size: 24px;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
    }

    .form-container {
        margin-top: 20px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .table-container {
        margin-top: 20px;
        margin-bottom: 100px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    footer {
        text-align: center;
        background-color: #333;
        color: #fff;
        padding: 10px 0;
    }
</style>

<h1>Details</h1>

<div>
    <h4>Tie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Design)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Design)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
